* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  height: 20vh;
  min-width: 80vw;
  background-color: black;
}

li {
  list-style: none;
  margin: 0px 10px;
}

.navbarList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px 30px 10px;
  color: white ;
}

.App {
  min-height: 80vh;
  width: 100vw;
  background-image: url('./img/teslaBackground.jpg');
  background-size: cover;
}

.shopping {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.homePage {
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.homeInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 300px;
}

.homeFirstText {
  font-size: 4rem;
}

.homeSecondText {
  display: flex;
}

.cyberTruck {
  color: red;
}

.logo {
  height: 150px;
  width: auto;
}

.logoAndTitle {
  display: flex;
  align-items: center;
}

.title {
  color: white;
  font-size: xx-large;
}

li {
  font-size: 25px;
}

.cart {
  height: 50px;
  width: auto;
  padding: 5px;
}

.rightNavbar {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarShopping {
  background-color: black;
}


.homeShopButton {
  margin-top: 20px;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 5rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  min-width: 10rem;
}

.homeShopButton,
.homeShopButton {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.homeShopButton {
  transform: translateY(-1px);
}

.homeShopButton:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

a {
  color: white;
  text-decoration: none;
}

.productGrid {
  display: grid;
  grid-template-columns: minmax(min-content, auto) minmax(min-content, auto);
  grid-template-rows: 1fr 1fr;
  gap: 100px;
}

.productFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.product {
  border: 1px solid red;
}

.shoppingLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shoppingLayoutInside {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr; 
  margin-top: 30px;
}

.outerProductDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;  
}

.productImage {
  display: block;
  height: 230px;
  width: auto;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #008CBA;
}


.container:hover .overlay {
  opacity: 1;
}

.container {
  position: relative;
}

.productPageImage {
  height: 600px;
  width: auto;
}

.productPageImageAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.sidebarCatalogus{
  color: black;
  cursor: pointer;
  margin-bottom: 10px;
}

.description {
  width: 25%;
}

.lowerHalfProductPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartImages {
  height: 100px;
  width: auto;
  margin: 20px 0px;
}

.cart-items {
  background-color: rgba(61, 57, 57, 0.75);
  height: 100vh;
  max-width: 100vw;
  position: fixed;
  right: 0;
  top: 0;
  width: 450px;
  z-index: 1;
  overflow:auto;
}

#quantity {
  min-width: 50px;
  max-width: 75px;
}

.cartContent {
  text-align: center;
  font-size: xx-large;
}

.cartDiv {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  border-top: 1px solid white; ;
  cursor: pointer;
}



#searchBar {
  display: none;
  height: 20px;
  margin: 0px;
  border-radius: 10px;
  padding: 5px;
  font-size: large;
}

.exitSearch {
  display: flex;
  color: red;
  font-size: large;
  background-color: black;
  border: 1px solid white;
  height: 25px;
  margin: 0px;
  
}

#searchDiv {
  display: flex;
}

#search {
  cursor: pointer;
  padding: 5px;
}

.shoppingCartPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(32, 30, 30, 0.75)
}

.upperSideShoppingCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid red;
  padding: 20px 0px;
}

.closeCart {
  font-size: xx-large;
  cursor: pointer;
  padding: 15px;
}

.item { 
  display: flex;
  border-bottom: 1px solid red;
  margin-bottom: 10px;
}

.imageAndTitle {
  display: flex;
  flex-direction: column;
}

.itemPrice {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}

.buttonsAndInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.itemPrices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.shoppingCartMiddle {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0px 350px;
  min-height: 100vh;
}

.totalPriceDiv, .totalQuantityDiv {
  display: flex;
  justify-content: space-between;
}

.shoppingCartTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

}